body { background:#f4f6f9; font-family:sans-serif; }
.container { width:80%; margin:auto; }
.card { background:white; padding:20px; border-radius:10px; box-shadow:0 0 10px #ccc; margin:15px; }
h1,h2 { text-align:center; }

button {
    width:100%;
    padding:12px;
    background:#2459e0;
    border:none;
    color:white;
    border-radius:5px;
}

input,textarea {
    width:100%;
    padding:10px;
    margin:8px 0;
}
