body{
  background:#eef2f7;
  font-family:Arial;
}

.container{
  width:400px;
  background:white;
  margin:auto;
  margin-top:80px;
  padding:25px;
  border-radius:10px;
  box-shadow:0 10px 15px rgba(0,0,0,0.1);
}

h2{text-align:center;color:#333}

input,button{
  width:100%;
  margin-top:10px;
  padding:10px;
}

a{text-decoration:none;color:#2c7be5}
button{background:#2c7be5;color:white;border:none}
button:hover{background:#1a5cc5}
