{% extends "base.html" %}
{% block content %}
  <h2>Reports Map</h2>
  <div id="map" style="width:100%; height:600px;"></div>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>

  <script>
  const map = L.map('map').setView([0.5, 37.5], 6);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors'
  }).addTo(map);

  fetch("{{ url_for('api_reports') }}")
    .then(r => r.json())
    .then(data => {
      const heat = [];
      data.forEach(rep => {
        if (rep.lat && rep.lon) {
          const marker = L.marker([rep.lat, rep.lon]).addTo(map);
          let popup = `<b>${rep.pest_name}</b><br>${rep.description || ""}<br>By: ${rep.user}<br>${new Date(rep.created_at).toLocaleString()}`;
          if (rep.image) popup += `<br><a href="${rep.image}" target="_blank">Photo</a>`;
          marker.bindPopup(popup);
          heat.push([rep.lat, rep.lon, 0.5]);
        }
      });
      if (heat.length) L.heatLayer(heat, {radius: 25}).addTo(map);
    });
  </script>
{% endblock %}
