{% include "navbar.html" %}

<div class="container">
  <form method="post">
    <h2>Create Account</h2>
    <input name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>

    <label>Security question</label>
    <select name="question">
      <option value="pet">What was your first pet's name?</option>
      <option value="school">Name of your first school?</option>
      <option value="birthplace">Where were you born?</option>
    </select>

    <input name="answer" placeholder="Security answer" required>

    <button class="btn-primary" type="submit">Create Account</button>
  </form>
</div>
