{% extends "base.html" %}
{% block content %}
<div class="card">
  <h2>Edit Report #{{ r.id }}</h2>
  <form method="post" enctype="multipart/form-data">
    <label>Pest<br><input name="pest" value="{{ r.pest_name }}" required></label><br>
    <label>Description<br><textarea name="description">{{ r.description }}</textarea></label><br>
    <label>Latitude<br><input name="latitude" value="{{ r.latitude }}"></label><br>
    <label>Longitude<br><input name="longitude" value="{{ r.longitude }}"></label><br>
    <label>Replace photo<br><input type="file" name="image"></label><br>
    <button type="submit">Save</button>
  </form>
</div>
{% endblock %}
