{% include "navbar.html" %}

<form method="post">
<h2>Verify & Reset Password</h2>

<input name="username" placeholder="Username" required>

<select name="question">
  <option value="pet">What is your first pet name?</option>
  <option value="school">Name of your first school?</option>
  <option value="birthplace">Where were you born?</option>
</select>

<input name="answer" placeholder="Your answer" required>

<input type="password" name="password" placeholder="New Password" required>
<input type="password" name="confirm" placeholder="Confirm Password" required>

<button>Reset Password</button>
</form>
